%head
	:css
		body {
			background-image: url("https://securecdn.pymnts.com/wp-content/uploads/2018/02/restaurant-reservation-platform-e1519424445312.jpg");
			background-color: #ffe4c4;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.mainContent {
			background-color: #ffffff;
			margin-top: 20px;
			padding: 10px;
			width: 50%;
			max-width: 750px;
		}

%body
	.mainContent.mx-auto
		%h1 Booking Restaurant
		%h3 Login

		%p#notice.text-info= notice
		-# frozen_string_literal: true
		= simple_form_for :user, url: "/main", method: :post do |f|

			.form-inputs
				.row
					.col-sm-12.col-md-8.col-lg-6.col-xl-5
						= f.input :email
				.row.mt-2
					.col-sm-12.col-md-8.col-lg-6.col-xl-5
						= f.input :password

				.row
					.col-sm-4.col-md-3.col-xl-2.mt-2
						.form-actions
							= f.button :submit, 'Login', class:"btn btn-primary mt-2"
					.col.mt-2
						= link_to 'register', "/register", class:"btn btn-primary mt-2"
