= form_for @appointment do |f|
  - if @appointment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appointment.errors.count, "error")} prohibited this appointment from being saved:"
      %ul
        - @appointment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :table
    = f.text_field :table
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :people_amount
    = f.number_field :people_amount
  .actions
    = f.submit 'Save'

-# frozen_string_literal: true
= simple_form_for(@appointment) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :user
    = f.association :table
    = f.input :start_time
    = f.input :people_amount

  .form-actions
    = f.button :submit, 'Create',class:"btn btn-primary mt-2"